.block-4-images-b {
    display: grid;
}

.block-4-images-b :first-child {
    grid-column: span 2;
    margin-right: 0;
    margin-left: auto;
}

.block-4-images-b :last-child {
    grid-column: span 2;
}