{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-stylus",
            "styled-jsx-plugin-postcss"
          ]
        }
      }
    ]
  ]
}