@font-face {
  font-family: Apercu;
  src: url("/fonts/apercu-extralight.eot");
  src: url("/fonts/apercu-extralight.eot?#iefix") format('embedded-opentype'), url("/fonts/apercu-extralight.woff") format('woff'), url("/fonts/apercu-extralight.woff2") format('woff2'), url("/fonts/apercu-extralight.ttf") format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Apercu;
  src: url("/fonts/apercu-light.eot");
  src: url("/fonts/apercu-light.eot?#iefix") format('embedded-opentype'), url("/fonts/apercu-light.woff") format('woff'), url("/fonts/apercu-light.woff2") format('woff2'), url("/fonts/apercu-light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Apercu;
  src: url("/fonts/apercu-regular.eot");
  src: url("/fonts/apercu-regular.eot?#iefix") format('embedded-opentype'), url("/fonts/apercu-regular.woff") format('woff'), url("/fonts/apercu-regular.woff2") format('woff2'), url("/fonts/apercu-regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Apercu;
  src: url("/fonts/apercu-medium.eot");
  src: url("/fonts/apercu-medium.eot?#iefix") format('embedded-opentype'), url("/fonts/apercu-medium.woff") format('woff'), url("/fonts/apercu-medium.woff2") format('woff2'), url("/fonts/apercu-medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Apercu;
  src: url("/fonts/apercu-bold.eot");
  src: url("/fonts/apercu-bold.eot?#iefix") format('embedded-opentype'), url("/fonts/apercu-bold.woff") format('woff'), url("/fonts/apercu-bold.woff2") format('woff2'), url("/fonts/apercu-bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
:root {
  --font-size-ja: 15px;
  --font-size-en: 17px;
  --margin-between-blocks: 107.46268656716418px;
  --margin-between-images: 61.194029850746276px;
}
@media (--mobile) {
  :root {
    --font-size-ja: 12px;
  }
}
body {
  font-family: Apercu, 'Noto Sans JP', sans-serif;
  font-size: var(--font-size-ja);
  font-weight: 300;
}
body .editor-post-title .editor-post-title__input {
  font-family: Apercu, 'Noto Sans JP', sans-serif;
  font-weight: 700;
}
body .block-editor-block-list__layout,
body .wp-block {
  max-width: 900px;
  margin: 0 auto;
}
body .block-editor-block-list__layout:first-child {
  margin-top: var(--margin-between-blocks);
}
body .wp-block figure {
  margin: 0;
}
body p.wp-block {
  margin: 30px 0;
  font-size: var(--font-size-ja);
  line-height: 2;
  word-wrap: break-word;
}
body p.wp-block a {
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #0073aa;
}
body .wp-block[data-type^="genesis-custom-blocks/"],
body .wp-block-embed {
  margin-top: var(--margin-between-blocks);
}
body .wp-block[data-type^="genesis-custom-blocks/"] + .wp-block[data-type^="genesis-custom-blocks/"],
body .wp-block-embed + .wp-block[data-type^="genesis-custom-blocks/"],
body .wp-block[data-type^="genesis-custom-blocks/"] + .wp-block-embed,
body .wp-block-embed + .wp-block-embed {
  margin-top: var(--margin-between-images);
}
body .wp-block[data-type^="genesis-custom-blocks/"] + p,
body .wp-block-embed + p {
  margin-top: var(--margin-between-blocks);
}
body .block-images {
  width: 900px;
  margin: 0;
  grid-template-columns: 1fr 1fr;
  gap: var(--margin-between-images) 58.2089552238806px;
  font-size: 0;
}
body .block-images .block-image-small {
  width: 420.8955223880597px;
}
body .block-images .block-image-medium {
  width: 629.8507462686567px;
}
body .block-images .block-image-large {
  width: 900px;
}
body .block-2-images-l-m >:first-child {
  margin-bottom: var(--margin-between-images);
}
body .block-3-images-l-ss {
  display: grid;
}
body .block-3-images-l-ss >:nth-child(1) {
  grid-column: span 2;
  object-fit: cover;
}
body .block-3-images-ss-m {
  display: grid;
}
body .block-3-images-ss-m >:nth-child(3) {
  grid-column: span 2;
  width: 629.8507462686567px;
  height: 353.73134328358213px;
  object-fit: cover;
}
body .block-4-images-l-ss-m {
  display: grid;
}
body .block-4-images-l-ss-m >:first-child {
  grid-column: span 2;
}
body .block-4-images-l-ss-m >:last-child {
  grid-column: span 2;
  justify-self: start;
}
body .block-4-images-m-ss-m {
  display: grid;
}
body .block-4-images-m-ss-m >:first-child {
  grid-column: span 2;
  margin-right: 0;
  margin-left: auto;
}
body .block-4-images-m-ss-m >:last-child {
  grid-column: span 2;
}
