@font-face {
    font-family: Apercu;
    src: url("/fonts/apercu-medium.eot");
    src: url("/fonts/apercu-medium.eot?#iefix") format('embedded-opentype'), url("/fonts/apercu-medium.woff") format('woff'), url("/fonts/apercu-medium.woff2") format('woff2'), url("/fonts/apercu-medium.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Apercu;
    src: url("/fonts/apercu-light.eot");
    src: url("/fonts/apercu-light.eot?#iefix") format('embedded-opentype'), url("/fonts/apercu-light.woff") format('woff'), url("/fonts/apercu-light.woff2") format('woff2'), url("/fonts/apercu-light.ttf") format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Apercu;
    src: url("/fonts/apercu-bold.eot");
    src: url("/fonts/apercu-bold.eot?#iefix") format('embedded-opentype'), url("/fonts/apercu-bold.woff") format('woff'), url("/fonts/apercu-bold.woff2") format('woff2'), url("/fonts/apercu-bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: Apercu, 'Noto Sans JP', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
}

body p {
    font-size: calc(15rem / 16);
    line-height: calc(30rem / 16);
}

.wp-block {
    max-width: 900px;
}

.editor-post-title .editor-post-title__input {
    font-family: Apercu, 'Noto Sans JP', sans-serif;
    font-weight: 700;
}

.block-images {
    width: 900px;
    max-width: 100%;
    margin-top: calc(143px * 0.75);
    margin-bottom: calc(144px * 0.75);
    grid-template-columns: 1fr 1fr;
    gap: calc(82px * 0.75) calc(78px * 0.75);
    font-size: 0;
}

.block-image-small {
    width: calc(564px * 0.75);
    height: calc(317px * 0.75);
    object-fit: cover;
}

.block-image-medium {
    width: calc(844px * 0.75);
    height: calc(475px * 0.75);
    object-fit: cover;
}

.block-image-large {
    width: calc(1206px * 0.75);
    height: calc(678px * 0.75);
    object-fit: cover;
}

.block-2-images :first-child {
    margin-bottom: calc(82px * 0.75);
}
