// Noto Sans JP
// https://fonts.google.com/specimen/Noto+Sans+JP
// Thin 100
// Light 300
// Regular 400
// Medium 500
// Bold 700
// Black 900
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&display=block')

// 200 apercu-extralight.ttf
// 300 apercu-light.ttf
// 400 apercu-regular.ttf
// 500 apercu-medium.ttf
// 700 apercu-bold.ttf
// 900 apercu-black.ttf
@font-face
  font-family: Apercu
  src: url("/fonts/apercu-extralight.eot")
  src: url("/fonts/apercu-extralight.eot?#iefix") format('embedded-opentype'), url("/fonts/apercu-extralight.woff") format('woff'), url("/fonts/apercu-extralight.woff2") format('woff2'), url("/fonts/apercu-extralight.ttf") format('truetype')
  font-weight: 200
  font-style: normal
  font-display: block

@font-face
  font-family: Apercu
  src: url("/fonts/apercu-light.eot")
  src: url("/fonts/apercu-light.eot?#iefix") format('embedded-opentype'), url("/fonts/apercu-light.woff") format('woff'), url("/fonts/apercu-light.woff2") format('woff2'), url("/fonts/apercu-light.ttf") format('truetype')
  font-weight: 300
  font-style: normal
  font-display: block

@font-face
  font-family: Apercu
  src: url("/fonts/apercu-regular.eot")
  src: url("/fonts/apercu-regular.eot?#iefix") format('embedded-opentype'), url("/fonts/apercu-regular.woff") format('woff'), url("/fonts/apercu-regular.woff2") format('woff2'), url("/fonts/apercu-regular.ttf") format('truetype')
  font-weight: 400
  font-style: normal
  font-display: block

@font-face
  font-family: Apercu
  src: url("/fonts/apercu-medium.eot")
  src: url("/fonts/apercu-medium.eot?#iefix") format('embedded-opentype'), url("/fonts/apercu-medium.woff") format('woff'), url("/fonts/apercu-medium.woff2") format('woff2'), url("/fonts/apercu-medium.ttf") format('truetype')
  font-weight: 500
  font-style: normal
  font-display: block

@font-face
  font-family: Apercu
  src: url("/fonts/apercu-bold.eot")
  src: url("/fonts/apercu-bold.eot?#iefix") format('embedded-opentype'), url("/fonts/apercu-bold.woff") format('woff'), url("/fonts/apercu-bold.woff2") format('woff2'), url("/fonts/apercu-bold.ttf") format('truetype')
  font-weight: 700
  font-style: normal
  font-display: block
