@font-face {
  font-family: Apercu;
  src: url("/fonts/apercu-extralight.eot");
  src: url("/fonts/apercu-extralight.eot?#iefix") format('embedded-opentype'), url("/fonts/apercu-extralight.woff") format('woff'), url("/fonts/apercu-extralight.woff2") format('woff2'), url("/fonts/apercu-extralight.ttf") format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Apercu;
  src: url("/fonts/apercu-light.eot");
  src: url("/fonts/apercu-light.eot?#iefix") format('embedded-opentype'), url("/fonts/apercu-light.woff") format('woff'), url("/fonts/apercu-light.woff2") format('woff2'), url("/fonts/apercu-light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Apercu;
  src: url("/fonts/apercu-regular.eot");
  src: url("/fonts/apercu-regular.eot?#iefix") format('embedded-opentype'), url("/fonts/apercu-regular.woff") format('woff'), url("/fonts/apercu-regular.woff2") format('woff2'), url("/fonts/apercu-regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Apercu;
  src: url("/fonts/apercu-medium.eot");
  src: url("/fonts/apercu-medium.eot?#iefix") format('embedded-opentype'), url("/fonts/apercu-medium.woff") format('woff'), url("/fonts/apercu-medium.woff2") format('woff2'), url("/fonts/apercu-medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Apercu;
  src: url("/fonts/apercu-bold.eot");
  src: url("/fonts/apercu-bold.eot?#iefix") format('embedded-opentype'), url("/fonts/apercu-bold.woff") format('woff'), url("/fonts/apercu-bold.woff2") format('woff2'), url("/fonts/apercu-bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
:root {
  --font-size-ja: 1.5rem;
  --font-size-en: 1.7rem;
}
@media (--mobile) {
  :root {
    --font-size-ja: 1.2rem;
  }
}
html {
  margin: 0;
  padding: 0;
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: Apercu, 'Noto Sans JP', sans-serif;
  font-size: var(--font-size-ja);
  font-weight: 300;
  color: #000;
}
body.index {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  margin: 2em 0;
}
p img {
  width: 100%;
  height: auto;
  margin: auto;
}
a {
  text-decoration: none;
  color: #000;
  padding-bottom: 3px;
  border-bottom: 1px solid #000;
}
button {
  cursor: pointer;
}
img {
  pointer-events: none;
  user-select: none;
}
*:focus {
  outline: none;
}
figure {
  margin: 1em 0;
  font-size: 0;
}
figcaption {
  font-size: 1.3em;
  font-style: italic;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  text-align: left;
}
.container {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-position: left top;
  overflow: hidden;
}
.contents {
  display: flex;
  align-items: flex-start;
}
.menu {
  position: fixed;
  width: 80px;
  height: 80px;
  background-color: #000;
}
.main {
  width: calc(100vw - 80px);
  margin-left: 80px;
}
.main .logo {
  height: 80px;
}
.footer {
  height: 400px;
  margin-top: 150px;
  background-color: #333;
}
.work .header {
  position: relative;
  font-size: 0;
  margin-bottom: calc((100vw - 80px) * 0.046656298600311);
}
.work .header .image {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.work .header .image img {
  width: calc((100vw - 80px) * 1);
  height: calc((100vw - 80px) * 0.5625);
  object-fit: cover;
}
.work .header .info {
  display: inline-block;
  position: relative;
  margin-top: calc((100vw - 80px) * 0.474339035769829);
  margin-right: 80px;
}
.work .header .info .inner {
  background-color: #fff;
  padding-top: calc((100vw - 80px) * 0.045101088646967);
  padding-left: calc((100vw - 80px) * 0.062208398133748);
  padding-right: calc((100vw - 80px) * 0.077760497667185);
  padding-bottom: calc((100vw - 80px) * 0.046656298600311);
}
.work .header .info .inner .date {
  font-size: calc((100vw - 80px) * 0.01244167962675);
}
.work .header .info .inner .title {
  font-size: calc((100vw - 80px) * 0.046656298600311);
  font-weight: bold;
  line-height: 1.2;
  margin-top: calc((100vw - 80px) * 0.022550544323484);
  margin-left: calc((100vw - 80px) * -0.004665629860031);
}
.work .header .info .inner .tags {
  margin-top: calc((100vw - 80px) * 0.024105754276827);
}
.work .header .info .inner .tags span {
  display: inline-block;
  border: 1px solid #b4b4b4;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  padding: 0.9rem 1rem 0.7rem;
  margin-right: 1rem;
}
.work .header .info .inner .tags span:last-child {
  margin-right: 0;
}
.work .excerpt {
  margin-left: calc((100vw - 80px) * 0.062208398133748);
  margin-bottom: calc((100vw - 80px) * 0.118195956454121);
  display: grid;
  grid-template-columns: auto calc((100vw - 80px) * 0.43701399688958);
  grid-gap: calc((100vw - 80px) * 0.062208398133748);
  font-size: 0;
}
.work .excerpt .text .title {
  font-size: calc((100vw - 80px) * 0.023328149300156);
  font-weight: 700;
  line-height: 1.8;
  margin-top: calc((100vw - 80px) * -0.006220839813375);
  margin-bottom: calc((100vw - 80px) * 0.032659409020218);
}
.work .excerpt .text .desc {
  font-size: var(--font-size-ja);
  line-height: 2;
}
.work .excerpt .image img {
  width: calc((100vw - 80px) * 0.43701399688958);
  height: calc((100vw - 80px) * 0.245820373250389);
  object-fit: cover;
}
.en.work .excerpt .text .title {
  font-size: calc((100vw - 80px) * 0.027993779160187);
  line-height: calc(54 / 36);
  margin-top: calc((100vw - 80px) * -0.005443234836703);
}
.en.work .excerpt .text .desc {
  font-size: var(--font-size-en);
  font-weight: 200;
  line-height: calc(30 / 17);
  margin-top: calc((100vw - 80px) * -0.007776049766719);
}
.news {
  margin: 0 80px 0;
  font-size: 0;
}
.news .image img {
  width: calc((100vw - 240px) * 1);
  height: calc((100vw - 240px) * 0.562166962699822);
  object-fit: cover;
}
.news .white {
  position: relative;
  display: inline-block;
  margin-top: -70px;
  margin-right: 80px;
  padding-right: 100px;
  background-color: #fff;
}
.news .white .date {
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 88px;
  white-space: pre;
}
.news .white .title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
  margin-top: 18px;
}
.news .entry-body {
  margin: 65px auto 0;
}
.entry-body {
  max-width: 900px;
  padding: 0;
  margin: 0 auto 0;
  --image-row-width: calc((100vw - 80px) * 0.937791601866252);
  --margin-left: calc(((100vw - 80px - 900px) / 2 - ((100vw - 80px) * (80 / (1366 - 80)))) * -1);
  --margin-between-block: calc((100vw - 80px) * 0.111975116640746);
  --margin-between-images: calc((100vw - 80px) * 0.063763608087092);
}
.entry-body img {
  width: 100%;
  height: auto;
}
.entry-body .img {
  font-size: 0;
  position: relative;
  overflow: hidden;
  margin: 3rem 0;
}
.entry-body p,
.entry-body table {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2;
  word-wrap: break-word;
}
.entry-body p {
  margin: 3rem 0;
}
.entry-body .aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.entry-body .aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.entry-body .block-images {
  width: var(--image-row-width);
  margin-top: var(--margin-between-block);
  margin-left: var(--margin-left);
  grid-template-columns: 1fr 1fr;
  gap: var(--margin-between-images) calc((100vw - 80px) * 0.060653188180404);
  font-size: 0;
}
.entry-body .block-images+.p,
.entry-body .block-images+p {
  margin-top: var(--margin-between-block);
}
.entry-body .block-images+.block-images {
  margin-top: var(--margin-between-images);
}
.entry-body .block-images .img {
  margin: 0;
}
.entry-body .block-images img.block-image-small {
  width: calc((100vw - 80px) * 0.438569206842924);
}
.entry-body .block-images img.block-image-medium {
  width: calc((100vw - 80px) * 0.656298600311042);
}
.entry-body .block-images img.block-image-large {
  width: var(--image-row-width);
}
.entry-body .block-2-images-ss {
  display: grid;
}
.entry-body .block-2-images-l-m >:first-child {
  margin-bottom: var(--margin-between-images);
}
.entry-body .block-3-images-l-ss {
  display: grid;
}
.entry-body .block-3-images-l-ss >:nth-child(1) {
  grid-column: span 2;
  object-fit: cover;
}
.entry-body .block-3-images-ss-m {
  display: grid;
}
.entry-body .block-3-images-ss-m >:nth-child(3) {
  grid-column: span 2;
  width: calc((100vw - 80px) * 0.656298600311042);
  height: calc((100vw - 80px) * 0.368584758942457);
  object-fit: cover;
}
.entry-body .block-4-images-l-ss-m {
  display: grid;
}
.entry-body .block-4-images-l-ss-m >:first-child {
  grid-column: span 2;
}
.entry-body .block-4-images-l-ss-m >:last-child {
  grid-column: span 2;
  justify-self: start;
}
.entry-body .block-4-images-m-ss-m {
  display: grid;
}
.entry-body .block-4-images-m-ss-m >:first-child {
  grid-column: span 2;
  margin-right: 0;
  margin-left: auto;
}
.entry-body .block-4-images-m-ss-m >:last-child {
  grid-column: span 2;
}
.entry-body figure.wp-block-embed {
  width: var(--image-row-width);
  margin-top: var(--margin-between-block);
  margin-left: var(--margin-left);
}
.entry-body figure.wp-block-embed iframe {
  width: var(--image-row-width);
  height: calc(var(--image-row-width) / 16 * 9);
}
.entry-body figure.wp-block-embed+.block-images {
  margin-top: var(--margin-between-images);
}
.en .entry-body p,
.en .entry-body table {
  font-size: var(--font-size-en);
  font-weight: 200;
  line-height: calc(30 / 17);
}
@media (--mobile) {
  .entry-body p {
    font-size: 1.2rem;
    line-height: 2.1;
  }
  .entry-body .p {
    margin: 2.6rem 0;
  }
  .entry-body .block-images {
    width: vwpxm(375);
    margin: 6.6rem -30px 7rem -50px;
    grid-template-columns: 1fr;
    gap: vwpxm(30);
    font-size: 0;
  }
  .entry-body .block-images .img + .img {
    margin-top: vwpxm(30);
  }
  .entry-body .block-images img.block-image-small {
    width: vwpxm(227.5);
  }
  .entry-body .block-images img.block-image-medium {
    width: vwpxm(305);
  }
  .entry-body .block-images img.block-image-large {
    width: vwpxm(375);
  }
  .entry-body .block-3-images-l-ss {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .entry-body .block-3-images-l-ss >:nth-child(2) {
    align-self: flex-end;
  }
  .entry-body .block-3-images-ss-m {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .entry-body .block-3-images-ss-m >:first-child {
    align-self: flex-end;
  }
  .entry-body .block-3-images-ss-m >:nth-child(3) {
    width: auto;
    height: auto;
  }
  .entry-body.en p {
    font-size: 1.4rem;
    line-height: calc(50 / 28);
  }
}
